<!DOCTYPE html>
<html>
    <head>
        <title>Loko - Compte vérifié</title>
        
    </head>
    <body>
        <div>
            <p>Merci {{name}} votre compte a bien été vérifié</p>
            <a href="{{link}}">Retourner sur Loko</a>
        </div>
        <script src="/js/passwordReset.js"></script>
    </body>
</html>