<!DOCTYPE html>
<html>
    <head>
        <title>Réinitialiser le mot de passe</title>
        
    </head>
    <body>
        <div>
            <p>Entrez votre nouveau mot de passe</p>
            <form>
                <input type="password" id="password1"  placeholder="Nouveau mot de passe"/>
                <input type="password" id="password2" placeholder="Vérifiez le mot de passe"/>
                <button type="submit">Réinitialiser le mot de passe</button>
            </form>
            <p id="error"></p>
        </div>
        <script src="/js/passwordReset.js"></script>
    </body>
</html>